nav {
    display: flex;
    flex-direction: column;
    background-color: #282c34;
    width: 300px;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    height: 955px;
    border-right: 1px solid white;
}

.link {
    color: white;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}

.link:hover {
    background-color: #3c3f46;
}

.linkDesactived {
    color: rgb(37, 189, 62);
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}

.linkDesactived:hover {
    background-color: #3c3f46;
}
